Hello!
My name is Ekaterina. I'm happy to review your project today.
When I will see mistake at the first time, I will just point it out. I let you find it and fix it by 
yourself. I'm trying to prepare you to work as an Data Analyst. SO, at a real job, your team lead 
will do the same. But if you can't handle this task yet, I will give you a more accurate hint at the 
next iteration.
You will find my comments below - please do not move, modify or delete them.
You can find my comments in green, yellow or red boxes like this:
<div class="alert alert-block alert-success"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
Success. Everything is done succesfully. </div>
<div class="alert alert-block alert-warning"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
Remarks. Some recommendations. </div>
<div class="alert alert-block alert-danger">
<b>Reviewer's comment</b> <a class="tocSkip"></a>
Needs fixing. The block requires some corrections. Work can't be accepted with the red 
comments. </div>
You can answer me by using this: not sue what i can do about putting all the imports in the first cell 
<div class="alert alert-block alert-info"> <b>Student answer.</b> <a class="tocSkip"></a> 
</div>


**Keep in mind that the project will be accepted only when all the “red” issues are resolved.**

<div class="alert alert-block alert-success">
    
<b>**General feedback**</b> <a class="tocSkip"></a>
    
Hi, James
    
Thank you for submiting your project 


<span class="text-danger"> 
Please note that you should only submit a fully completed project. If you have any doubts or difficulties, or just want to make sure everything is correct, you can contact your tutor. I left you a few comments, but next time please send  the finished project.</span>
    
Waiting for a new version
</div>

<div class="alert alert-block alert-danger">
<b>Reviewer's comment</b> <a class="tocSkip"></a>
Please, add project title and project description</div>

In [1]:
import pandas as pd

In [2]:
aisles = pd.read_csv('/datasets/aisles.csv', delimiter=';')
#importing dataset and using delimiter to remove the semicolon

In [3]:
departments = pd.read_csv('/datasets/departments.csv', delimiter=';') #importing dataset and using delimiter to remove the semicolon

In [4]:
orders = pd.read_csv('/datasets/instacart_orders.csv', delimiter=';') #importing dataset and using delimiter to remove the semicolon

In [5]:
order_products = pd.read_csv('/datasets/order_products.csv', delimiter=';') #importing dataset and using delimiter to remove the semicolon

In [6]:
products = pd.read_csv('/datasets/products.csv', delimiter=';') #importing dataset and using delimiter to remove the semicolon

<div class="alert alert-block alert-success"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
Great! We have all necessary data </div>

In [7]:
print(aisles)
print(departments)
print(orders)
print(order_products)
print(products)

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]
    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing
        order_id  user_id  order_number  order_dow  order_hour_of_day  \
0        1515936   183418            11          6                 13
1        1690866   163593             5          5                 12
2        1454967    39980             4          5                 19
3        1768857    82516            56          0                 20
4        3007858   196724             2          4                 12
...          ...      ...           ...        ...                ...
478962   3210681     5617             5          1                 14
478963   3270802   112087             2          3                 13
478964    885349    82944            16          2                 11
478965    216274     4391             3          3                  8
478966   2071924     1730            18          1                 14

        days_since_prior_order
0                         30.0
1                          9.0
2                          2.0
3                         10.0
4                         17.0
...                        ...
478962                     7.0
478963                     6.0
478964                     6.0
478965                     8.0
478966                    15.0

[478967 rows x 6 columns]
         order_id  product_id  add_to_cart_order  reordered
0         2141543       11440               17.0          0
1          567889        1560                1.0          1
2         2261212       26683                1.0          1
3          491251        8670               35.0          1
4         2571142        1940                5.0          1
...           ...         ...                ...        ...
4545002    577211       15290               12.0          1
4545003   1219554       21914                9.0          0
4545004    692640       47766                4.0          1
4545005    319435         691                8.0          1
4545006   1398151       28733                9.0          0

[4545007 rows x 4 columns]
       product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49689       49690                      HIGH PERFORMANCE ENERGY DRINK
49690       49691                      ORIGINAL PANCAKE & WAFFLE MIX
49691       49692    ORGANIC INSTANT OATMEAL LIGHT MAPLE BROWN SUGAR
49692       49693                             SPRING WATER BODY WASH
49693       49694                            BURRITO- STEAK & CHEESE

       aisle_id  department_id
0            61             19
1           104             13
2            94              7
3            38              1
4             5             13
...         ...            ...
49689        64              7
49690       130             14
49691       130             14
49692       127             11
49693        38              1

[49694 rows x 4 columns]

<div class="alert alert-block alert-danger">
<b>Reviewer's comment</b> <a class="tocSkip"></a>
HERE AND FURTHER
Please, use display instead of print for dataframes</div>

In [34]:
#REVIEWER CODE
display(aisles.head())
display(departments.head())
display(orders.head())
display(order_products.head())
display(products.head())

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1515936,183418,11,6,13,30.0
1,1690866,163593,5,5,12,9.0
2,1454967,39980,4,5,19,2.0
3,1768857,82516,56,0,20,10.0
4,3007858,196724,2,4,12,17.0

   order_id  product_id  add_to_cart_order  reordered
0   2141543       11440               17.0          0
1    567889        1560                1.0          1
2   2261212       26683                1.0          1
3    491251        8670               35.0          1
4   2571142        1940                5.0          1

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

## Find and remove duplicate values (and describe why you make your choices)

### `orders` data frame

In [9]:
#importing pandas
import pandas as pd

# Loading orders from the csv dataframe file instacart orders
orders = pd.read_csv('/datasets/instacart_orders.csv', delimiter=';')

# Check for duplicated orders
duplicate_orders = orders[orders.duplicated()]

# print results
print(duplicate_orders)

        order_id  user_id  order_number  order_dow  order_hour_of_day  \
145574    794638    50898            24          3                  2
223105   2160484   107525            16          3                  2
230807   1918001   188546            14          3                  2
266232   1782114   106752             1          3                  2
273805   1112182   202304            84          3                  2
284038   2845099    31189            11          3                  2
311713   1021560    53767             3          3                  2
321100    408114    68324             4          3                  2
323900   1919531   191501            32          3                  2
345917   2232988    82565             1          3                  2
371905    391768    57671            19          3                  2
394347    467134    63189            21          3                  2
411408   1286742   183220            48          3                  2
415163   2282673    86751            49          3                  2
441599   2125197    14050            48          3                  2

        days_since_prior_order
145574                     2.0
223105                    30.0
230807                    16.0
266232                     NaN
273805                     6.0
284038                     7.0
311713                     9.0
321100                    18.0
323900                     7.0
345917                     NaN
371905                    10.0
394347                     2.0
411408                     4.0
415163                     2.0
441599                     3.0

<div class="alert alert-block alert-danger">
<b>Reviewer's comment</b> <a class="tocSkip"></a>
HERE AND FURTHER

We only need to import the libraries once

Also, if you have already downloaded the data, there is no need to do it again.

Please remove rows 


    import pandas as pd

    orders = pd.read_csv('/datasets/instacart_orders.csv', delimiter=';')
</div>

<div class="alert alert-block alert-warning"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
Very good that you found the duplicates But it is better to find their numbers

    orders.duplicated().sum()

In [10]:
# Check for all orders placed Wednesday at 2:00 AM
# Filtering orders placed on Wednesdays at 2:00 AM with two conditions
wednesday_2_am_orders = orders[(orders['order_dow'] == 3) & (orders['order_hour_of_day'] == 2)]

# Print the filtered orders
print(wednesday_2_am_orders)

        order_id  user_id  order_number  order_dow  order_hour_of_day  \
4838     2766110   162084            41          3                  2
5156     2190225   138285            18          3                  2
15506     553049    58599            13          3                  2
18420     382357   120200            19          3                  2
24691     690242    77357             2          3                  2
...          ...      ...           ...        ...                ...
457013   3384021    14881             6          3                  2
458816    910166   164782            18          3                  2
459635   1680532   106435             6          3                  2
468324    222962    54979            59          3                  2
477526   2592344    46860            38          3                  2

        days_since_prior_order
4838                      16.0
5156                      11.0
15506                      7.0
18420                     11.0
24691                      9.0
...                        ...
457013                    30.0
458816                     4.0
459635                    21.0
468324                     3.0
477526                     3.0

[121 rows x 6 columns]

<div class="alert alert-block alert-success"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
Perfect </div>

In [11]:
# Remove duplicate orders
remove_dups = duplicate_orders.drop_duplicates().reset_index(drop=True)

In [12]:
print(duplicate_orders)# '.drop_duplicate()' method to remove duplicates
print(orders) # print the results

        order_id  user_id  order_number  order_dow  order_hour_of_day  \
145574    794638    50898            24          3                  2
223105   2160484   107525            16          3                  2
230807   1918001   188546            14          3                  2
266232   1782114   106752             1          3                  2
273805   1112182   202304            84          3                  2
284038   2845099    31189            11          3                  2
311713   1021560    53767             3          3                  2
321100    408114    68324             4          3                  2
323900   1919531   191501            32          3                  2
345917   2232988    82565             1          3                  2
371905    391768    57671            19          3                  2
394347    467134    63189            21          3                  2
411408   1286742   183220            48          3                  2
415163   2282673    86751            49          3                  2
441599   2125197    14050            48          3                  2

        days_since_prior_order
145574                     2.0
223105                    30.0
230807                    16.0
266232                     NaN
273805                     6.0
284038                     7.0
311713                     9.0
321100                    18.0
323900                     7.0
345917                     NaN
371905                    10.0
394347                     2.0
411408                     4.0
415163                     2.0
441599                     3.0
        order_id  user_id  order_number  order_dow  order_hour_of_day  \
0        1515936   183418            11          6                 13
1        1690866   163593             5          5                 12
2        1454967    39980             4          5                 19
3        1768857    82516            56          0                 20
4        3007858   196724             2          4                 12
...          ...      ...           ...        ...                ...
478962   3210681     5617             5          1                 14
478963   3270802   112087             2          3                 13
478964    885349    82944            16          2                 11
478965    216274     4391             3          3                  8
478966   2071924     1730            18          1                 14

        days_since_prior_order
0                         30.0
1                          9.0
2                          2.0
3                         10.0
4                         17.0
...                        ...
478962                     7.0
478963                     6.0
478964                     6.0
478965                     8.0
478966                    15.0

[478967 rows x 6 columns]

In [13]:
# Double check for duplicate rows

# Check for duplicated rows in the 'remove_dups' DataFrame
duplicated_rows = remove_dups[remove_dups.duplicated()]

# If the 'duplicated_rows' DataFrame is empty, there are no more duplicates
if duplicated_rows.empty:
    print("No more duplicate rows in 'remove_dups'.")
else:
    print("Duplicate rows found in 'remove_dups'.")

No more duplicate rows in 'remove_dups'.

<div class="alert alert-block alert-danger">
<b>Reviewer's comment</b> <a class="tocSkip"></a>
You need to remove duplicates from the original dataframe
    
    orders = orders.drop_duplicates()
</div>

In [14]:
# Double check for duplicate order IDs only

duplicate_order_ids = orders[orders['order_id'].duplicated(keep=False)]
print(duplicate_order_ids)

        order_id  user_id  order_number  order_dow  order_hour_of_day  \
30371    1918001   188546            14          3                  2
99462     794638    50898            24          3                  2
119251    408114    68324             4          3                  2
142258   2845099    31189            11          3                  2
145574    794638    50898            24          3                  2
164581   1112182   202304            84          3                  2
200059   1782114   106752             1          3                  2
204042   2125197    14050            48          3                  2
215294   2160484   107525            16          3                  2
223105   2160484   107525            16          3                  2
230807   1918001   188546            14          3                  2
242618   1021560    53767             3          3                  2
250626    467134    63189            21          3                  2
257934   1919531   191501            32          3                  2
259636   2282673    86751            49          3                  2
266232   1782114   106752             1          3                  2
273805   1112182   202304            84          3                  2
284038   2845099    31189            11          3                  2
311713   1021560    53767             3          3                  2
314427   1286742   183220            48          3                  2
321100    408114    68324             4          3                  2
323900   1919531   191501            32          3                  2
324868   2232988    82565             1          3                  2
345917   2232988    82565             1          3                  2
354993    391768    57671            19          3                  2
371905    391768    57671            19          3                  2
394347    467134    63189            21          3                  2
411408   1286742   183220            48          3                  2
415163   2282673    86751            49          3                  2
441599   2125197    14050            48          3                  2

        days_since_prior_order
30371                     16.0
99462                      2.0
119251                    18.0
142258                     7.0
145574                     2.0
164581                     6.0
200059                     NaN
204042                     3.0
215294                    30.0
223105                    30.0
230807                    16.0
242618                     9.0
250626                     2.0
257934                     7.0
259636                     2.0
266232                     NaN
273805                     6.0
284038                     7.0
311713                     9.0
314427                     4.0
321100                    18.0
323900                     7.0
324868                     NaN
345917                     NaN
354993                    10.0
371905                    10.0
394347                     2.0
411408                     4.0
415163                     2.0
441599                     3.0

### `products` data frame

In [15]:
# Check for fully duplicate rows

#importing pandas
import pandas as pd

# Loading orders from the csv dataframe file instacart orders
products = pd.read_csv('/datasets/products.csv', delimiter=';')
#importing dataset and using delimiter to remove the semicolon

duplicate_products = products[products.duplicated(keep=False)]
# Display fully duplicated occurrences
print(duplicate_products)

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id]
Index: []

In [16]:
# Check for just duplicate product IDs

duplicate_product_ids = products[products.duplicated(subset='product_id', keep=False)]
print(duplicate_product_ids)

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id]
Index: []

In [17]:
# Check for just duplicate product names (convert names to lowercase to compare better)

# Convert product names to lowercase and check for duplicates
duplicate_product_names = products[products['product_name'].str.lower().duplicated(keep=False)]

# Display duplicate product names
print(duplicate_product_names)

       product_id                                     product_name  aisle_id  \
37             38                                              NaN       100
41             42                                  Biotin 1000 mcg        47
71             72                                              NaN       100
109           110                                              NaN       100
185           186       Fresh Scent Dishwasher Detergent with Dawn        74
...           ...                                              ...       ...
49689       49690                    HIGH PERFORMANCE ENERGY DRINK        64
49690       49691                    ORIGINAL PANCAKE & WAFFLE MIX       130
49691       49692  ORGANIC INSTANT OATMEAL LIGHT MAPLE BROWN SUGAR       130
49692       49693                           SPRING WATER BODY WASH       127
49693       49694                          BURRITO- STEAK & CHEESE        38

       department_id
37                21
41                11
71                21
109               21
185               17
...              ...
49689              7
49690             14
49691             14
49692             11
49693              1

[1465 rows x 4 columns]

<div class="alert alert-block alert-danger">
<b>Reviewer's comment</b> <a class="tocSkip"></a>
Lets change product names streight in product dataframe We dont need to create additional variables
    
    products['product_name'] = products['product_name'].str.lower()
    
</div>

In [18]:
# Check for duplicate product names that aren't missing

# Check for duplicate product names that aren't missing
duplicate_product_names = products[products['product_name'].str.lower().duplicated(keep=False) & ~products['product_name'].isnull()]

# Display duplicate product names that aren't missing
print(duplicate_product_names)

       product_id                                     product_name  aisle_id  \
41             42                                  Biotin 1000 mcg        47
185           186       Fresh Scent Dishwasher Detergent with Dawn        74
515           516                           American Cheese Slices        21
1538         1539                                 Cauliflower head        83
1783         1784              NUTrition Protein Mix Blueberry Nut       117
...           ...                                              ...       ...
49689       49690                    HIGH PERFORMANCE ENERGY DRINK        64
49690       49691                    ORIGINAL PANCAKE & WAFFLE MIX       130
49691       49692  ORGANIC INSTANT OATMEAL LIGHT MAPLE BROWN SUGAR       130
49692       49693                           SPRING WATER BODY WASH       127
49693       49694                          BURRITO- STEAK & CHEESE        38

       department_id
41                11
185               17
515               16
1538               4
1783              19
...              ...
49689              7
49690             14
49691             14
49692             11
49693              1

[207 rows x 4 columns]

<div class="alert alert-block alert-success"> <b>Reviewer's comment</b> <a 
class="tocSkip"></a>
Result is correct </div>

### `departments` data frame

In [19]:
# Check for fully duplicated rows in the departments data frame
#importing pandas
import pandas as pd

# Loading orders from the csv dataframe file instacart orders
departments = pd.read_csv('/datasets/departments.csv', delimiter=';')

duplicate_departments = departments[departments.duplicated(keep=False)]

# Display fully duplicated departments
print(duplicate_departments)
print(departments)

Empty DataFrame
Columns: [department_id, department]
Index: []
    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [20]:
# Remove duplicate orders
remove_dups = duplicate_departments.drop_duplicates().reset_index(drop=True)
print(remove_dups)

Empty DataFrame
Columns: [department_id, department]
Index: []

### `aisles` data frame

In [21]:
#importing pandas
import pandas as pd

# Loading orders from the csv dataframe file instacart orders
aisles = pd.read_csv('/datasets/aisles.csv', delimiter=';')

duplicate_aisles = aisles[aisles.duplicated(keep=False)]

# Display fully duplicated departments
print(duplicate_aisles)
print(aisles)

Empty DataFrame
Columns: [aisle_id, aisle]
Index: []
     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

In [22]:
# Remove duplicate orders
remove_dups = duplicate_aisles.drop_duplicates().reset_index(drop=True)
print(remove_dups)

Empty DataFrame
Columns: [aisle_id, aisle]
Index: []

### `order_products` data frame

In [23]:
# Check for fullly duplicate rows

#importing pandas
import pandas as pd

# Loading orders from the csv dataframe file instacart orders
order_products = pd.read_csv('/datasets/order_products.csv', delimiter=';')

duplicate_order_products = order_products[order_products.duplicated(keep=False)]

# Display fully duplicated order_products
print(duplicate_order_products)
print(order_products)

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []
         order_id  product_id  add_to_cart_order  reordered
0         2141543       11440               17.0          0
1          567889        1560                1.0          1
2         2261212       26683                1.0          1
3          491251        8670               35.0          1
4         2571142        1940                5.0          1
...           ...         ...                ...        ...
4545002    577211       15290               12.0          1
4545003   1219554       21914                9.0          0
4545004    692640       47766                4.0          1
4545005    319435         691                8.0          1
4545006   1398151       28733                9.0          0

[4545007 rows x 4 columns]

In [24]:
# Double check for any other tricky duplicates
# Check for duplicates based on 'order_id' and 'product_id'
tricky_duplicates = order_products[order_products.duplicated(subset=['order_id', 'product_id'], keep=False)]

# Display tricky duplicates
print(tricky_duplicates)
print(order_products)

# I wanted to get a review of the information that I have before moving forward. Last time I had to redo a lot because I missed early on. Thank you,

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []
         order_id  product_id  add_to_cart_order  reordered
0         2141543       11440               17.0          0
1          567889        1560                1.0          1
2         2261212       26683                1.0          1
3          491251        8670               35.0          1
4         2571142        1940                5.0          1
...           ...         ...                ...        ...
4545002    577211       15290               12.0          1
4545003   1219554       21914                9.0          0
4545004    692640       47766                4.0          1
4545005    319435         691                8.0          1
4545006   1398151       28733                9.0          0

[4545007 rows x 4 columns]

## Find and remove missing values

### `products` data frame

In [25]:
# Are all of the missing product names associated with aisle ID 100?

In [26]:
# Are all of the missing product names associated with department ID 21?

In [27]:
# What is this ailse and department?

In [28]:
# Fill missing product names with 'Unknown'

### `orders` data frame

In [29]:
# Are there any missing values where it's not a customer's first order?

### `order_products` data frame

In [30]:
# What are the min and max values in this column?

In [31]:
# Save all order IDs with at least one missing value in 'add_to_cart_order'

In [32]:
# Do all orders with missing values have more than 64 products?

In [33]:
# Replace missing values with 999 and convert column to integer type

# [A] Easy (must complete all to pass)

### [A1] Verify that the `'order_hour_of_day'` and `'order_dow'` values in the `orders` tables are sensible (i.e. `'order_hour_of_day'` ranges from 0 to 23 and `'order_dow'` ranges from 0 to 6)

### [A2] What time of day do people shop for groceries?

### [A3] What day of the week do people shop for groceries?

### [A4] How long do people wait until placing another order?

# [B] Medium (must complete all to pass)

### [B1] Is there a difference in `'order_hour_of_day'` distributions on Wednesdays and Saturdays? Plot the histograms for both days and describe the differences that you see.

### [B2] What's the distribution for the number of orders per customer?

### [B3] What are the top 20 popular products (display their id and name)?

# [C] Hard (must complete at least two to pass)

### [C1] How many items do people typically buy in one order? What does the distribution look like?

### [C2] What are the top 20 items that are reordered most frequently (display their names and product IDs)?

### [C3] For each product, what proportion of its orders are reorders?

### [C4] For each customer, what proportion of their products ordered are reorders?

### [C5] What are the top 20 items that people put in their carts first?